<template>
    <div id="app">
        <ColumnList v-bind:columns="columns"></ColumnList>

        <NewTask></NewTask>

        <Footer></Footer>
    </div>
</template>

<script>
    import 'bulma/css/bulma.css'

    import ColumnList from './components/ColumnList.vue'
    import Footer from './components/Footer.vue'
    import NewTask from "./components/NewTask.vue";

    export default {
        name: 'app',
        components: {
            NewTask, ColumnList, Footer
        },
        data: function () {
            return {
                columns: [
                    {type: "ToDo"},
                    {type: "Doing"},
                    {type: "Done"},
                ],
            }
        },
    }
</script>
