<template>
    <div class="column has-background-white-ter">
        <h1 class="title has-text-centered">{{type}}</h1>

        <draggable v-model="tasks" class="draggable" group="tasks" @start="drag=true" @end="drag=false">
            <Task v-for="task in tasks" v-bind:key="task.id" v-bind:name="task.name" v-bind:id="task.id"
                  v-bind:description="task.description"></Task>
        </draggable>
    </div>
</template>

<script>
    import Task from './Task.vue'
    import draggable from 'vuedraggable'

    export default {
        name: 'Column',

        components: {
            Task, draggable,
        },

        props: {
            type: String,
        },

        computed: {
            tasks: {
                get() {
                    var type = this.type;
                    return this.$store.state.tasks.filter(task => task.task_status.toUpperCase() === type.toUpperCase());
                },

                set(updates) {
                    var type = this.type;
                    this.$store.commit('UPDATE_STATE', { type: type, updates: updates });
                }
            }
        },
    }
</script>

<style>
    .draggable {
        height: 100vh;
    }
</style>