<template>
    <div class="columns is-mobile">
      <Column v-for="column in columns" :key="column.type" :type="column.type"></Column>
    </div>
</template>

<script>
import Column from './Column.vue'

export default {
  components: {
    Column
  },
  name: 'ColumnList',
  props: {
    columns: Array
  },
}
</script>

<style scoped>
    .columns {
        height: 100vh;
    }
</style>