<template>
    <footer class="footer has-background-dark">
        <div class="content field is-grouped">
            <p class="control">
                <a class="button is-success" v-on:click="refresh_tasks">refresh</a>
            </p>

            <p class="control">
                <a class="button is-link" v-on:click="toggle_new_task">new</a>
            </p>
        </div>
    </footer>
</template>

<script>

    export default {
        name: 'Footer',

        methods: {
            refresh_tasks: function (event) {
                this.$store.dispatch('get_tasks');
            },

            toggle_new_task: function (event) {
                this.$store.commit('NEW_TASK_ACTIVE', true);
            }
        },
    }
</script>

<style scoped>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.5em;
        padding: 1rem .5rem 3rem;
    }
</style>
