<template>
    <div class="modal" v-bind:class="{ 'is-active': isNewTaskActive }">
        <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">New task</p>
                    <button class="delete" aria-label="close" v-on:click="toggle_new_task"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" v-model="name">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" v-model="description"></textarea>
                        </div>
                    </div>

                </section>
                <footer class="modal-card-foot">
                    <button class="button" v-on:click="toggle_create_task">Cancel</button>
                    <button class="button is-success" v-on:click="create_task">Create</button>
                </footer>
            </div>
        </div>

</template>

<script>
    export default {
        name: 'NewTask',

        data: function() {
            return {
                name: '',
                description: '',
            }
        },

        computed: {
            isNewTaskActive: {
                get() {
                    return this.$store.state.isNewTaskActive;
                },

                set(value) {
                    this.$store.commit('NEW_TASK_ACTIVE', value);
                }
            }
        },

        methods: {
            toggle_create_task: function (event) {
                this.isNewTaskActive = !this.isNewTaskActive;
            },

            create_task: function (event) {
                let task = {
                    name: this.name,
                    description: this.description,
                };

                this.$store.dispatch('create_task', task);

                // Reset the local variables after the task has been created.
                this.name = '';
                this.description = '';
            },
        }
    }
</script>