<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{name}}
            </p>
        </header>

        <div class="card-content">
            <div class="content">
                {{description}}
            </div>
        </div>

        <footer class="card-footer">
            <a href="#" class="card-footer-item" v-on:click="delete_task">Delete</a>
        </footer>

    </div>
</template>

<script>
    export default {
        name: 'Task',
        props: {
            id: String,
            name: String,
            description: String,
        },
        methods: {
            delete_task: function (event) {
                this.$store.dispatch('delete_task', this.id);
            },

        },
    }
</script>

<style scoped>
    .card {
        margin-top: 2em;
    }
</style>